---
import InfoCard from '../components/InfoCard.astro';
import MainCard from '../components/MainCard.astro';
import NavMenu from '../components/NavMenu.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header class="lg:flex xl:w-[80vw] 2xl:w-[75vw] lg:h-[15vh] h-[10vh] mx-auto lg:justify-end lg:items-center">
		<NavMenu></NavMenu>
	</header>
	<main class="lg:flex lg:items-center">
		<section class="w-[90vw] lg:h-[80vh] 2xl:w-[75vw] 2xl:h-[75vh] mx-auto lg:grid lg:grid-cols-3 block h-[140vh]">

			<InfoCard></InfoCard>
	
			<MainCard></MainCard>
			
		</section>
	</main>
</Layout>

<style>
	
</style>
