---
import InfoCard from '../components/InfoCard.astro';
import MainCard from '../components/MainCard.astro';
import NavMenu from '../components/NavMenu.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header class="flex xl:w-[80vw] 2xl:w-[75vw] h-[15vh] mx-auto justify-end items-center">
		<NavMenu></NavMenu>
	</header>
	<main class="flex items-center">
		<section class="xl:w-[90vw] xl:h-[80vh] 2xl:w-[75vw] 2xl:h-[75vh] mx-auto grid grid-cols-3">

			<InfoCard></InfoCard>
	
			<MainCard></MainCard>
			
		</section>
	</main>
</Layout>

<style>
	
</style>
