<div id="contact" class="hidden">
    <section class="w-full pt-4 lg:p-10 self-start animate-fade-right animate-duration-1000 animate-delay-500 animate-ease-in-out">
        <h2 class="text-4xl text-white">Contact Me !</h2>
        <p class="mx-2 mt-4 mb-16 text-xl font-medium text-white">If you are interested in my services send me a message and I will contact you.</p>
        <form class="flex flex-col mx-auto gap-10 justify-center">
            <div class="relative z-0">
                <input required="" type="text" id="name" name="name" class="text-white block py-2.5 pl-2 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-indigo-400 peer dark:focus:border-emerald-500" placeholder=" ">
                <label for="name" class="absolute  text-lg pl-2 text-gray-500  duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-indigo-400 dark:peer-focus:text-emerald-500  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">Name</label>
            </div>
            <div class="relative z-0">
                <input required="" type="email" id="email" name="email" class="text-white block py-2.5 pl-2 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-indigo-400 peer dark:focus:border-emerald-500" placeholder=" ">
                <label for="email" class="absolute  text-lg pl-2 text-gray-500  duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-indigo-400 dark:peer-focus:text-emerald-500  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">Email</label>
            </div>
            <div class="relative z-0">
                <input required="" type="text" id="message" name="message" class="text-white block py-2.5 pl-2 w-full bg-transparent border-0 border-b-2 border-gray-300 appearance-none   focus:outline-none focus:ring-0 focus:border-indigo-400 peer dark:focus:border-emerald-500" placeholder=" ">
                <label for="message" class="absolute  text-lg pl-2 text-gray-500  duration-300 transform -translate-y-8 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-indigo-400 dark:peer-focus:text-emerald-500  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-8">Message</label>
            </div>
            <button type="submit" class="w-28 h-12 bg-indigo-400 dark:bg-emerald-500 self-center rounded-2xl text-white text-lg font-medium transition-all dark:hover:bg-emerald-600  hover:bg-indigo-500">Submit</button>
        </form>

    </section>
</div>