<div id="home" class="">
    <section>
        <h2 class="text-white text-4xl tracking-wid mb-2">HI, I'M PABLO ✋</h2>
        <p class="text-white mb-2 font-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum hic doloremque maxime nesciunt corrupti corporis fugit eveniet velit esse dolores, praesentium libero. Earum, facilis. Rerum voluptatem distinctio nobis dicta architecto!</p>
        <p class="text-white font-light mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum hic doloremque maxime nesciunt corrupti corporis fugit eveniet velit esse dolores, praesentium libero. Earum, facilis. Rerum voluptatem distinctio nobis dicta architecto!</p>
    </section>
    <section>
        <h2 class="text-white text-4xl tracking-wid mb-2">TECH STACK</h2>
        <div class="grid grid-cols-5">
            <div class="bg-slate-400 h-24 w-24 mb-8"></div>
            <div class="bg-slate-400 h-24 w-24 mb-8"></div>
            <div class="bg-slate-400 h-24 w-24 mb-8"></div>
            <div class="bg-slate-400 h-24 w-24 mb-8"></div>
            <div class="bg-slate-400 h-24 w-24 mb-8"></div>
            <div class="bg-slate-400 h-24 w-24 mb-8"></div>
            <div class="bg-slate-400 h-24 w-24 mb-8"></div>
            <div class="bg-slate-400 h-24 w-24 mb-8"></div>
            <div class="bg-slate-400 h-24 w-24 mb-8"></div>
            <div class="bg-slate-400 h-24 w-24 mb-8"></div>
        </div>
    </section>
</div>




<style>
    h2{
        font-family: 'Onest', sans-serif;
    }
</style>