<div class="rounded-3xl bg-gray-950 m-2 lg:mx-4 lg:mt-6 mt-2 mx-8 lg:h-[85%] 2xl:max-h-[80%] lg:col-span-1 h-[40%] pt-4 lg:pt-0">
  <div class="mx-auto bg-slate-400 lg:h-44 lg:w-44 h-24 w-24 rounded-full lg:mt-6">

  </div>
  <h1 class="text-center text-white tracking-widest xl:text-2xl mx-14 mt-4 bg-clip-text text-transparent">PABLO SASTRE MAÑERU</h1>
  <h2 class="text-center text-slate-200 font-extralight m-2">Web Developer</h2>
  <div class="flex justify-center items-center mx-auto">
    <button class="lg:h-12 lg:w-12 h-10 w-10 bg-emerald-500 m-2 rounded-lg"><i class="fa-brands fa-github fa-2xl" style="color: #ffffff;"></i></button>
    <button class="lg:h-12 lg:w-12 h-10 w-10 bg-emerald-500 m-2 rounded-lg"><i class="fa-brands fa-linkedin fa-2xl" style="color: #ffffff;"></i></button>
  </div>
  <div class="flex items-center justify-center mx-auto mt-8">
    <div class="bg-emerald-500 h-10 w-10 rounded-full flex justify-center items-center">
      <i class="fa-regular fa-envelope fa-lg" style="color: #ffffff;"></i>
    </div>
    <div class="block">
      <p class="text-slate-200 font-extralight text-sm ml-2">Email</p>
      <p class="text-center text-white tracking-wider font-extralight text-sm ml-2">pablosastremaneru@gmail.com</p>
    </div>
  </div>
  <div class="mx-auto flex justify-center items-center lg:mt-8 mt-2">
    <button class="px-4 py-2 mx-auto text-white rounded-xl bg-emerald-500 text-sm lg:text-base">Descargar CV</button>
  </div>
</div>

<style>
  h1{
    background-image: linear-gradient(to right,#818cf8,#e0e7ff,#38bdf8,#e879f9,#38bdf8,#e0e7ff,#818cf8)
  }
</style>