<nav class="xl:h-[14vh] xl:w-[28vw] bg-gray-950 rounded-3xl m-2 flex justify-around items-center">
    <div class="flex items-center justify-center">
        <button class="hover:bg-emerald-500 rounded-xl w-24 h-24">
            <i class="fa-solid fa-house fa-2xl" style="color: #ffffff;"></i>
            <p class="text-center text-white font-extralight text-sm mt-2">Home</p>
        </button>
    </div>
    <div class="flex items-center justify-center">
        <button class="hover:bg-emerald-500 rounded-xl w-24 h-24">
            <i class="fa-solid fa-code fa-2xl" style="color: #ffffff;"></i>
            <p class="text-center text-white font-extralight text-sm mt-2">Projects</p>
        </button>
    </div>
    <div class="flex items-center justify-center">
        <button class="hover:bg-emerald-500 rounded-xl w-24 h-24">
            <i class="fa-solid fa-comment fa-2xl" style="color: #ffffff;"></i>
            <p class="text-center text-white font-extralight text-sm mt-2">Contact</p>
        </button>
    </div>
</nav>
<nav class="xl:h-24 xl:w-24 bg-gray-950 rounded-full m-2 mr-8">

</nav>
