<nav class="lg:h-[10vh] lg:w-[30vw] h-[10vh] bg-[#161616] rounded-3xl m-2 flex justify-around items-center lg:px-10">
    <div class="flex items-center justify-center">
        <button id="homeButton" class="bg-emerald-500 rounded-xl lg:w-20 lg:h-20 w-[70px] h-[70px]">
            <i class="fa-solid fa-house fa-xl" style="color: #ffffff;"></i>
            <p class="text-center text-white font-extralight text-sm mt-2">Home</p>
        </button>
    </div>
    <div class="flex items-center justify-center">
        <button id="projectsButton" class="rounded-xl lg:w-20 lg:h-20 w-[70px] h-[70px]">
            <i class="fa-solid fa-code fa-xl" style="color: #ffffff;"></i>
            <p class="text-center text-white font-extralight text-sm mt-2">Projects</p>
        </button>
    </div>
    <div class="flex items-center justify-center">
        <button id="contactButton" class="rounded-xl lg:w-20 lg:h-20 w-[70px] h-[70px]">
            <i class="fa-solid fa-comment fa-xl" style="color: #ffffff;"></i>
            <p class="text-center text-white font-extralight text-sm mt-2">Contact</p>
        </button>
    </div>
</nav>
<nav class="xl:h-24 xl:w-24 bg-[#161616] rounded-full m-2 mr-8">

</nav>

<script>
    var projects = document.getElementById("projects");
    var home = document.getElementById("home") ;
    var contact = document.getElementById("contact");
    var projectsButton = document.getElementById("projectsButton");
    var homeButton = document.getElementById("homeButton");
    var contactButton = document.getElementById("contactButton");

    function mostrarHome () {

        if(!projects.classList.contains("hidden")){
            projects.classList.add("hidden");
        }
        if(!contact.classList.contains("hidden")){
            contact.classList.add("hidden");
        }
        home.classList.remove("hidden");

        if(projectsButton.classList.contains("bg-emerald-500")){
            projectsButton.classList.remove("bg-emerald-500");
        }
        if(contactButton.classList.contains("bg-emerald-500")){
            contactButton.classList.remove("bg-emerald-500");
        }
        if(!homeButton.classList.contains("bg-emerald-500")){
            homeButton.classList.add("bg-emerald-500");
        }
        

    }
    function mostrarProjects () {
        if(!home.classList.contains("hidden")){
            home.classList.add("hidden");
        }
        if(!contact.classList.contains("hidden")){
            contact.classList.add("hidden");
        }
        projects.classList.remove("hidden");

        if(homeButton.classList.contains("bg-emerald-500")){
            homeButton.classList.remove("bg-emerald-500");
        }
        if(contactButton.classList.contains("bg-emerald-500")){
            contactButton.classList.remove("bg-emerald-500");
        }
        if(!projectsButton.classList.contains("bg-emerald-500")){
            projectsButton.classList.add("bg-emerald-500");
        }
    }
    function mostrarContact () {
        if(!projects.classList.contains("hidden")){
            projects.classList.add("hidden");
        }
        if(!home.classList.contains("hidden")){
            home.classList.add("hidden");
        }
        contact.classList.remove("hidden");

        if(projectsButton.classList.contains("bg-emerald-500")){
            projectsButton.classList.remove("bg-emerald-500");
        }
        if(homeButton.classList.contains("bg-emerald-500")){
            homeButton.classList.remove("bg-emerald-500");
        }
        if(!contactButton.classList.contains("bg-emerald-500")){
            contactButton.classList.add("bg-emerald-500");
        }
    }
    document.getElementById("homeButton").addEventListener("click", mostrarHome);
    document.getElementById("projectsButton").addEventListener("click", mostrarProjects);
    document.getElementById("contactButton").addEventListener("click", mostrarContact);

</script>
