<div id="projects" class="hidden snap-y snap-mandatory h-full w-full overflow-y-scroll">
    <div class="snap-start bg-amber-200 w-full h-full flex items-center justify-center text-4xl">1</div>
    <div class="snap-start bg-teal-200 w-full h-full flex items-center justify-center text-4xl">2</div>
    <div class="snap-start bg-cyan-200 w-full h-full flex items-center justify-center text-4xl">3</div>
</div>